# SLU2 - Subsetting data: Exercise notebook

In this notebook you'll practice the concepts you've seen on the Learning and example notebooks:

    - Setting pandas Dataframe index
    - Selecting columns with brackets notation
    - Selecting columns with dot notation
    - Selecting rows with loc 
    - Selecting rows with iloc
    - Multi-axis indexing (as an alternative to Chain indexing) 
    - Masks
    - Where
    - Subsetting on conditions
    - Removing and Adding columns

**Note**: For these exercices we will be using a netflix dataset containing the description and ratings of several movies and tv shows. In each exercise, you'll be asked to implement a function, which you can check against the assertions provided.

Let's dive right in.

In [6]:
import pandas as pd
import numpy as np
import math
pd.options.display.max_rows = 10

## Welcome to Netflix

You just succeded in getting a job for Netflix. Wow, congratz! Granted, it's mostly a tech costumer support job, but you feel it will allow you to go up inside the company. 

It's your first day on the job and you got inducted, they gave you a few tips, access to the data you need to find people's problems and showed you to your space. You're now settling in and getting ready for all of those password reset requests that are bound to come in:


![tech-cs](./images/tech_cs.jpg)


You have a couple of minutes before they activate your line, so you start to explore a little bit. While looking into the data you have access to, you stumble upon a collection of the available movies and tv shows on the platform and you decide to take a look:

In [7]:
# Read netflix shows dataset and set show id column as index
netflix_shows = pd.read_csv('data/netflix_titles.csv',index_col='show_id').sort_index()

# Show first 5 lines
netflix_shows.head(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
show_id,,,,,,,,,,,
247747,Movie,Amar Akbar Anthony,Manmohan Desai,"Vinod Khanna, Rishi Kapoor, Amitabh Bachchan, ...",India,"December 31, 2019",1977,TV-14,172 min,Action & Adventure,"Abandoned in a park by their father, Amar, Akb..."
269880,Movie,Bad Boys,Michael Bay,"Will Smith, Martin Lawrence, T√©a Leoni, Tch√©ky...",United States,"October 1, 2019",1995,R,119 min,Action & Adventure,"In this fast-paced actioner, two Miami narcoti..."
281550,Movie,La Bamba,Luis Valdez,"Lou Diamond Phillips, Esai Morales, Rosanna De...",United States,"January 1, 2020",1987,PG-13,109 min,Classic Movies,The plane crash that killed Buddy Holly also t...
284890,Movie,Barsaat,Rajkumar Santoshi,"Twinkle Khanna, Bobby Deol, Danny Denzongpa, R...",India,"April 1, 2018",1995,TV-PG,166 min,Action & Adventure,A na√Øve young man and a rich city girl fall in...
292118,Movie,Beavis and Butt-head Do America,Mike Judge,"Mike Judge, Bruce Willis, Demi Moore, Cloris L...",United States,"November 20, 2019",1996,PG-13,81 min,Comedies,"After realizing that their boob tube is gone, ..."

Looks like an interesting dataset, so you remember to put in practice what you're learning in that data science academy you took (yikes, maybe you should have payed more attention to it üòÖ).

## Exercise 1 - Exploring the data

### Exercise 1.1 - Selecting rows

You want to retrieve the **42nd**, the **39th**, the **512th** and the **2019th** rows. Implement the function `select_rows` so that given a set of ids, it retrieves a dataframe with the corresponding rows:

In [8]:
def select_rows_by_id(df, rows):
    """ 
    Select the desired rows
    
    Args:
        df (pd.DataFrame): the input DataFrame
        rows: list with the desired rows indices

    Returns:p
        (pd.DataFrame): subset Dataframe

    """
    
    return df.iloc[rows]

In [9]:
# This cell is what will test your code, please ignore it!

netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()
df_rows = select_rows_by_id(netflix_shows, [42, 39, 512, 2019])
df_rows = df_rows.sort_index()

assert isinstance(df_rows, pd.DataFrame)
assert df_rows.shape[0] == 4
assert df_rows.shape[1] == netflix_shows.shape[1]
assert df_rows.country.unique()[0] == 'United States'
assert np.mean(df_rows.release_year) == 2000.25

### Exercise 1.2 - Selecting rows by title

You now want to change the index of your data to the country and retrieve all movies for which the country of origin is either the US or UK. Implement the function `select_rows_by_country` so that given a set of countries, it retrieves a dataframe with the corresponding rows, where the index corresponds to the `country` column.

**Hint**: Keep in mind that we don't want to discard the `show_id`'s, this is still useful information about the shows! Additionally, make sure the `country` column is not "duplicated"

In [39]:
def select_rows_by_country(df, countries):
    """ 
    Select the desired rows given the country names
    
    Args:
        df (pd.DataFrame): the input DataFrame, with an available column `country`
        rows: list with the desired countries

    Returns:
        (pd.DataFrame): subset Dataframe

    """
    
    return df.reset_index().set_index('country').loc[countries]

In [40]:
# This cell is what will test your code, please ignore it!

netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()
desired_countries = ['United States', 'United Kingdom']
df_rows = select_rows_by_country(netflix_shows, desired_countries)

assert isinstance(df_rows, pd.DataFrame)
assert df_rows.shape[0] == 2380
assert df_rows.shape[1] == netflix_shows.shape[1]
assert df_rows.index.name == 'country'

assert 'show_id' in list(df_rows.columns)
assert list(df_rows.index.unique()) == desired_countries
assert math.isclose(np.mean(df_rows.release_year), 2012.914705882353)

### Exercise 1.3 - Selecting columns

To retrieve the **title** and **description** columns, implement the function `select_columns`:

In [41]:
def select_columns(df, columns):
    """ 
    Select the desired columns of a dataframe
    
    Args:
        df (pd.DataFrame): the input DataFrame
        columns: list with columns to retrieve

    Returns:
        (pd.DataFrame): subset Dataframe

    """

    return df.loc[:, columns]

In [42]:
# This cell is what will test your code, please ignore it!

netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()

desired_columns = ['title']
df_columns = select_columns(netflix_shows, desired_columns)
assert isinstance(df_columns, pd.DataFrame)
assert df_columns.shape[0] == netflix_shows.shape[0]
assert df_columns.shape[1] == 1
assert df_columns.columns.tolist() == desired_columns

desired_columns = ['title', 'description']
df_columns = select_columns(netflix_shows, desired_columns)
assert isinstance(df_columns, pd.DataFrame)
assert df_columns.shape[0] == netflix_shows.shape[0]
assert df_columns.shape[1] == 2
assert df_columns.columns.tolist() == desired_columns

### Exercise 1.4 - Selecting rows and columns

Let's combine what you've learned above and retrieve all the show ids between **22040803** and **80175275** together with each movie's __title__, __description__ and __release_year__. Implement it under the function below:

In [47]:
def dedicated_subset(df):
    """ 
    Select columns title, description and release year for show ids 22040803 to 80175275
    
    Args:
        df (pd.DataFrame): the input DataFrame

    Returns:
        (pd.DataFrame): subsetted df

    """
    
    return df.loc[22040803:80175275,['title', 'description', 'release_year']]

In [48]:
# This cell is what will test your code, please ignore it!

netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()
df_out = dedicated_subset(netflix_shows)

assert isinstance(df_out, pd.DataFrame)
assert df_out.shape[0] == 3220
assert df_out.shape[1] == 3
assert df_out.columns.tolist() == ['title', 'description', 'release_year']
assert math.isclose(np.mean(df_out.release_year), 2011.3403726708075)

### Exercise 1.5 - Hiding data

Now we're going to be hiding some of the rows from our dataset.

### Exercise 1.5.1 

Start by hiding all TV shows.

In [52]:
def hide_tv_shows(df):
    """ 
    Hide all TV shows in dataframe
    
    Args:
        df (pd.DataFrame): the input DataFrame

    Returns:
        (pd.DataFrame): output DataFrame

    """
    
    return df.mask(df.type == 'TV Show')

In [53]:
# This cell is what will test your code, please ignore it!

netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()
df_out = hide_tv_shows(netflix_shows)

assert isinstance(df_out, pd.DataFrame)
assert df_out.shape[0] == netflix_shows.shape[0]
assert df_out.shape[1] == netflix_shows.shape[1]
assert sum(df_out.type=='TV Show') == 0

### Exercise 1.5.2 

Now reverse it and leave only TV shows.

In [55]:
def show_tv_shows(df):
    """ 
    Show only TV shows in dataframe
    
    Args:
        df (pd.DataFrame): the input DataFrame

    Returns:
        (pd.DataFrame): output DataFrame

    """
    
    return df.where(df.type == 'TV Show')

In [56]:
# This cell is what will test your code, please ignore it!
netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()
df_out = show_tv_shows(netflix_shows)

assert isinstance(df_out, pd.DataFrame)
assert df_out.shape[0] == netflix_shows.shape[0]
assert df_out.shape[1] == netflix_shows.shape[1]
assert sum(df_out.dropna().type!='TV Show') == 0

Oops, phone's ringing, time to go start working. Drop your playing and pick up the phone...


## Exercise 2 - _A damsel in distress_

A few calls in, you answer the phone to this old lady. Her problem doesn't seem very technical, but she sounds sweet and you're eager to help and do well on your first day, so you listen to her problem anyways. Well, at least until you get another call.

![old_lady](images/old_lady_netflix.jpg)

Mrs. Ferguson (let's call her that) wants help in knowing which movies she can show her grandkids. They're coming over and she wanted to do a **movie** session, but her daughter was the one setting up netflix and she has no idea how to use it, except to search for specific movies. And the suggestions that she's getting for popular movies seem everything but appropriate. 

You think for a bit and decided it shouldn't be too hard and you decide to help her. You ask her just a couple of questions and decide the following:

* Her grandkids are aged 5 and 8
* They don't yet read subtitles, so obviously they need to be English
* Recent movies are preferred (after 2015)
* Short movies are preferred (less than 1h20)
* No documentaries - she wants her grandkids to like her!

You also pull some info on the ratings of movies and find out the following:

|Rating | Description |
|-------|-------------|
| G | General exhibition, suitable for all ages but not necessarily intended for children |
| NC-17 | Not suitable for children under 17 |
| NR | Not rated |
| PG | Some material may not be suitable for children. |
| PG-13| Not suitable for children under 13 |
| R | Not suitable for children under 17  |
| TV-14 | This program contains some material that many parents would find unsuitable for children under 14 years of age |
| TV-G  | Most parents would find this program suitable for all ages. |
| TV-MA| This program is intended to be viewed by adults and therefore may be unsuitable for children under 17 |
| TV-PG | Parental guidance is recommendedes - these programs may be unsuitable for younger children |
| TV-Y  | This program is aimed at a very young audience, including children from ages 2‚Äì6 |
| TV-Y7 | This program is designed for children age 7 and above. |
| TV-Y7-FV | Similar to TV-Y7, but may contain fantasy violence and generally be more intense |
| UR | Unrated |


You'll use this list to make sure the list you provide her is appropriate (assume films without rating are possibly problematic). 

First, you notice the duration provided is a string, and when it refers to minutes seems to allways follow the pattern `Xmin`, so you design a function to extract it as a number and apply it to your dataframe:

In [57]:
from utils import add_column_duration_int

netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()
netflix_shows = add_column_duration_int(netflix_shows)
netflix_shows.head()

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int
show_id,,,,,,,,,,,,
247747,Movie,Amar Akbar Anthony,Manmohan Desai,"Vinod Khanna, Rishi Kapoor, Amitabh Bachchan, ...",India,"December 31, 2019",1977,TV-14,172 min,Action & Adventure,"Abandoned in a park by their father, Amar, Akb...",172.0
269880,Movie,Bad Boys,Michael Bay,"Will Smith, Martin Lawrence, T√©a Leoni, Tch√©ky...",United States,"October 1, 2019",1995,R,119 min,Action & Adventure,"In this fast-paced actioner, two Miami narcoti...",119.0
281550,Movie,La Bamba,Luis Valdez,"Lou Diamond Phillips, Esai Morales, Rosanna De...",United States,"January 1, 2020",1987,PG-13,109 min,Classic Movies,The plane crash that killed Buddy Holly also t...,109.0
284890,Movie,Barsaat,Rajkumar Santoshi,"Twinkle Khanna, Bobby Deol, Danny Denzongpa, R...",India,"April 1, 2018",1995,TV-PG,166 min,Action & Adventure,A na√Øve young man and a rich city girl fall in...,166.0
292118,Movie,Beavis and Butt-head Do America,Mike Judge,"Mike Judge, Bruce Willis, Demi Moore, Cloris L...",United States,"November 20, 2019",1996,PG-13,81 min,Comedies,"After realizing that their boob tube is gone, ...",81.0

Now implement below the final code to return the suggested list of movies for Mrs. Ferguson. **Use the previous function to add a readable duration column** and return the following columns: `title`, `description`, `duration_int`, and `release_year` columns.

**Hint**: Look into the function `.isin` described in the learning notebook and how it can be used to check a value against a list

In [82]:
def mrs_ferguson_list(df):
    """ 
    Show netflix shows according to mrs ferguson parameters:
    
      - only movies
      - from english-speaking countries (US and UK)
      - appropriate for ages 5 and 8
      - from or after 2015
      - at most 80 min of duration
      - no documentaries
      
    Return only titles, description, duration_int and release_year
    
    Args:
        df (pd.DataFrame): the input DataFrame

    Returns:
        (pd.DataFrame): subsetted df

    """
    
    return df.loc[(df.type == 'Movie') & \
                   df.country.isin(['United States', 'United Kingdom']) & \
                   df.rating.isin(['G', 'TV-G', 'TV-Y']) & \
                  (df.release_year >= 2015) & \
                  (df.duration_int <= 80) & \
                  (df.listed_in != 'Documentaries')\
                    ,['title', 'description', 'duration_int', 'release_year']]

In [84]:
# This cell is what will test your code, please ignore it!

netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()
netflix_shows = add_column_duration_int(netflix_shows)
df_out = mrs_ferguson_list(netflix_shows)

assert df_out.shape[0] == 19
assert df_out.shape[1] == 4
assert df_out.columns.tolist() == ['title', 'description', 'duration_int', 'release_year']
assert math.isclose(np.mean(df_out.duration_int), 53.63157894736842)

You provide a couple of suggestions to Mrs. Ferguson and she says goodbye happily. As you hang up you see a signal that you have another call. Just in time!

## Exercise 3 - Oh no, not again 

After a few more calls, and almost ready to clock out, you receive another call from another old lady. Turns out Mrs. Fergunson mentioned your help to her friends and one of them decided to also call. Mrs. Williams wants to get the oldest movies from the 70s she can find on Netflix. She vaguely remembers her favorites were from that time. 

Start by filtering all english-speaking movies from the 70s (1970-1979). Return the title, description, duration and release year. Use release year as the index and return the results ordered. Keep the `release_year` column in your final result.

**Hint**: the sorting by year should follow the natural order, this is, an ascending order

In [113]:
def mrs_williams_list(df):
    """ 
    Show netflix shows according to mrs ferguson parameters:
    
      - only movies
      - from english-speaking countries (US and UK)
      - between and including 1970 and 1979 

    Return only titles, description, duration and release_year

    Args:
        df (pd.DataFrame): the input DataFrame

    Returns:
        (pd.DataFrame): subsetted df

    """
    
    return df.loc[(df.type == 'Movie') & \
                   df.country.isin(['United States', 'United Kingdom']) & \
                  (1970 <= df.release_year) & \
                  (df.release_year <= 1979) \
                    ,['title', 'description', 'duration', 'release_year']] \
             .reset_index(drop=True)\
             .set_index('release_year', drop=False)\
             .sort_index()

In [114]:
mrs_williams_list(netflix_shows)

,title,description,duration,release_year
release_year,,,,
1972,Superfly,"To get away from the thug life, cocaine dealer...",91 min,1972
1973,Mean Streets,"In New York's Little Italy, a low-level hoodlu...",112 min,1973
1973,Cleopatra Jones,A stylin' special agent chases down drug lords...,89 min,1973
1973,Jimi Hendrix,"Jimi Hendrix's family, friends, and fellow mus...",102 min,1973
1973,Charlotte's Web,"Follow the adventures of Wilbur the pig, Templ...",94 min,1973
...,...,...,...,...
1978,Grease,John Travolta and Olivia Newton-John star in t...,110 min,1978
1978,Benji's Very Own Christmas Story,"While on a press tour, Benji goes behind the s...",25 min,1978
1979,Richard Pryor: Live in Concert,Richard Pryor's classic 1979 concert film has ...,79 min,1979
1979,Monty Python's Life of Brian,"Born in a stable in Judea, Brian grows up to j...",94 min,1979
1979,Rocky II,"Featuring a rousing climax, this engaging sequ...",119 min,1979

In [115]:
# This cell is what will test your code, please ignore it!

netflix_shows = pd.read_csv('data/netflix_titles.csv', index_col='show_id').sort_index()
df_out = mrs_williams_list(netflix_shows)

assert df_out.shape[0] == 21
assert df_out.shape[1] == 4
assert df_out.index.name == 'release_year'
assert df_out.columns.tolist() == ['title', 'description', 'duration', 'release_year']

assert df_out.iloc[0].release_year == 1972
assert df_out.iloc[-1].release_year == 1979
assert math.isclose(np.mean(df_out.release_year), 1975.4761904761904)

After providinng Mrs. Williams with the list, you polotely explain to her that these problems are not really tech support appropriate, and even though you're glad to help, they might try asking to their younger family members for help in getting these answers through other methods. 

Mrs. Williams kindly apologizes and you finish the call, and your day. Those were some weird questions for a first day, maybe somebody was trying to prank you? 

Regardless, you clock out with a sense of achievement. Not only you helped a couple of people, but you got to play around with data. Not bad for a first day, huh?