## Imports

In [7]:
import pandas as pd
import numpy as np
import scipy as sp

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [8]:
from validate_sample_submission import validate_submission

## Load data

In [9]:
df_ratings = pd.read_csv('BookRatings.csv')
df_users = pd.read_csv('BooksUsers.csv')
df_books = pd.read_csv('BooksMetaInfo.csv')
df_test = pd.read_csv('test_users.csv')

In [10]:
test_users = df_test.values.ravel().tolist()

In [11]:
# Check amount of users in training data
user_id_ratings = df_ratings['User-ID'].unique().tolist()
print(len(user_id_ratings))

# Check users in test data
test_user_id_ratings = df_test['User-ID'].unique().tolist()
print(len(test_user_id_ratings))

# Check the test users NOT in training
unique_test_users = [a for a in test_user_id_ratings if a in user_id_ratings]
print(len(unique_test_users))

5719
589
489

## User data

In [5]:
def make_sparse_ratings(df_ratings):
   
    # create ratings matrix
    R = sp.sparse.csr_matrix(df_ratings.set_index(['User-ID', 'ISBN']).unstack().replace(np.nan, 0))
    return R

In [6]:
R = make_sparse_ratings(df_ratings)

<5719x47768 sparse matrix of type '<class 'numpy.float64'>'
	with 109209 stored elements in Compressed Sparse Row format>

In [17]:
training_users = df_ratings['User-ID'].unique().tolist()
df_users = df_users[df_users['User-ID'].isin(training_users)]

In [21]:
def process_user_data(df_users):
    
    # index
    df_users = df_users.set_index('User-ID')
    
    # vectorize location data
    vectorizer = TfidfVectorizer()
    user_profiles = vectorizer.fit_transform(df_users.Location)
    
    # join age information
    #user_profiles = user_profilessp.sparse.csr_matrix(df_users.Age)
    
    return user_profiles

In [22]:
user_profiles = process_user_data(df_users)

In [23]:
user_profiles

<5719x2791 sparse matrix of type '<class 'numpy.float64'>'
	with 19124 stored elements in Compressed Sparse Row format>

In [26]:
cosine_similarity(user_profiles).shape

(5719, 5719)

In [75]:
sp.sparse.csr_matrix(df_users.Age).reshape(-1,1)

<61568x1 sparse matrix of type '<class 'numpy.float64'>'
	with 61484 stored elements in COOrdinate format>

In [76]:
sp.sparse.hstack(user_profiles, sp.sparse.csr_matrix(df_users.Age).reshape(-1,1))

ValueError: blocks must be 2-D

In [62]:
df_users.Location

User-ID
2               stockton, california, usa
8                timmins, ontario, canada
9              germantown, tennessee, usa
10             albacete, wisconsin, spain
12            fort bragg, california, usa
                       ...
278844           st. paul, minnesota, usa
278849        georgetown, ontario, canada
278851                 dallas, texas, usa
278852    brisbane, queensland, australia
278854              portland, oregon, usa
Name: Location, Length: 61568, dtype: object

['03770',
 '04005',
 '05680',
 '10012',
 '1110',
 '12',
 '15526',
 '16605',
 '2301',
 '23564',
 '24',
 '24229',
 '25474',
 '27243',
 '28355',
 '29170',
 '30',
 '302',
 '304',
 '305',
 '308',
 '321',
 '322',
 '330',
 '33157',
 '35037',
 '36',
 '378',
 '380',
 '40882',
 '41017',
 '4120',
 '41747',
 '4248',
 '45144',
 '4729',
 '47559',
 '47589',
 '4dn',
 '51381',
 '52062',
 '52066',
 '52080',
 '53',
 '53129',
 '60385',
 '61',
 '6130',
 '614',
 '6158',
 '626',
 '64',
 '65439',
 '69361',
 '71000',
 '717',
 '72189',
 '75',
 '76149',
 '7793',
 '78126',
 '8125',
 '8172',
 '8572',
 '85742',
 '8802',
 '89075',
 '915',
 '92346',
 'aaaaaaa',
 'aachen',
 'aaf',
 'aalborg',
 'aan',
 'aarau',
 'aargau',
 'aarhus',
 'ab',
 'abbot',
 'abbotsford',
 'abbottstown',
 'abc',
 'abelokipi',
 'aberdare',
 'aberdeen',
 'aberdeenshire',
 'aberdour',
 'aberfoyle',
 'abertillery',
 'aberystwyth',
 'abilene',
 'abiline',
 'abingdon',
 'abington',
 'abiquiu',
 'abita',
 'aboyne',
 'abq',
 'abruzzo',
 'abu',
 'acapulco',
 'accokeek',
 'accra',
 'ackerman',
 'acme',
 'acqui',
 'acres',
 'act',
 'acton',
 'acushnet',
 'acworth',
 'ada',
 'adairsville',
 'adams',
 'adda',
 'addieville',
 'addison',
 'addu',
 'addy',
 'adelaide',
 'adelanto',
 'adele',
 'adell',
 'adelphi',
 'adige',
 'adliswil',
 'adolphus',
 'adrian',
 'advance',
 'ae',
 'afb',
 'afftion',
 'afghanistan',
 'africa',
 'ag',
 'agadir',
 'agassiz',
 'agawam',
 'agde',
 'agder',
 'agoura',
 'agra',
 'agrate',
 'agraço',
 'agrigento',
 'agua',
 'aguadilla',
 'ah',
 'ahaus',
 'ahlen',
 'ahmedi',
 'ahwatukee',
 'aiea',
 'aiken',
 'ain',
 'ainslie',
 'air',
 'airdrie',
 'aire',
 'aires',
 'airforce',
 'airy',
 'aitkenvale',
 'aix',
 'ajax',
 'ajijic',
 'ak',
 'akershus',
 'akron',
 'al',
 'alabama',
 'alabaster',
 'alacant',
 'alachua',
 'aladinma',
 'alagoas',
 'alajuela',
 'alam',
 'alameda',
 'alamo',
 'alamogordo',
 'alamos',
 'alamosa',
 'alamús',
 'alanta',
 'alaquas',
 'alaska',
 'alava',
 'alb',
 'albacete',
 'albairate',
 'albania',
 'albans',
 'albany',
 'albay',
 'albenga',
 'alberni',
 'albersdorf',
 'albert',
 'alberta',
 'alberton',
 'albertville',
 'albi',
 'albignasego',
 'albion',
 'albis',
 'albisola',
 'alborn',
 'albq',
 'albquerque',
 'albququerque',
 'albstadt',
 'albuerque',
 'albufeira',
 'albuq',
 'albuqerque',
 'albuquerqe',
 'albuquerque',
 'albuqueruqe',
 'albuqurque',
 'alburquerque',
 'albury',
 'alcalá',
 'alcoa',
 'alcobaça',
 'alcolu',
 'alcorcon',
 'aldbourne',
 'alden',
 'aldenhoven',
 'aldergrove',
 'alderney',
 'aldershot',
 'alderson',
 'aldgate',
 'aledo',
 'alegre',
 'alella',
 'alene',
 'alentejo',
 'alert',
 'alessandria',
 'alexander',
 'alexandra',
 'alexandria',
 'alfaz',
 'alfermee',
 'alfort',
 'alfred',
 'alfreton',
 'algar',
 'algarve',
 'alghero',
 'algoma',
 'algona',
 'algonquin',
 'algorta',
 'algés',
 'alhambra',
 'alhaurín',
 'alicante',
 'alice',
 'aliquippa',
 'aliso',
 'aljaraque',
 'alkmaar',
 'all',
 'allegan',
 'allegany',
 'allen',
 'allendale',
 'allende',
 'allenton',
 'allentown',
 'allenwinden',
 'allgäu',
 'alliance',
 'allis',
 'allison',
 'alliston',
 'alloa',
 'allston',
 'alma',
 'almada',
 'almaty',
 'almenara',
 'almere',
 'almeria',
 'almont',
 'almonte',
 'alofa',
 'aloha',
 'alor',
 'alpahretta',
 'alpedrete',
 'alpen',
 'alpena',
 'alpes',
 'alpharetta',
 'alphen',
 'alpine',
 'alportel',
 'alps',
 'alresford',
 'alsace',
 'alsea',
 'alsip',
 'alta',
 'altadena',
 'altamont',
 'altamonte',
 'altdorf',
 'altlussheim',
 'alto',
 'alton',
 'altona',
 'altoona',
 'altos',
 'altrincham',
 'altrip',
 'altus',
 'aluqueruqe',
 'alverca',
 'alvin',
 'alzette',
 'alzey',
 'alzira',
 'am',
 'amadora',
 'amagansett',
 'amalie',
 'amanda',
 'amarillo',
 'amberley',
 'ambler',
 'amboy',
 'ambridge',
 'amelia',
 'ameliasburgh',
 'america',
 'american',
 'americus',
 'amersfoort',
 'amersham',
 'ames',
 'amesbury',
 'ametlla',
 'amherst',
 'amherstview',
 'amite',
 'amity',
 'amityville',
 'amora',
 'ampang',
 'amper',
 'amstelveen',
 'amsterdam',
 'amwell',
 'américa',
 'an',
 'ana',
 'anacortes',
 'anaheim',
 'anahlt',
 'anana',
 'ancaster',
 'anchor',
 'anchorage',
 'ancienne',
 'ancona',
 'ancramdale',
 'and',
 'andalucia',
 'andalucía',
 'anderson',
 'andhra',
 'andhrapradesh',
 'andorra',
 'andover',
 'andreas',
 'andreu',
 'andrew',
 'andrews',
 'andújar',
 'angel',
 'angeles',
 'angelo',
 'angels',
 'angers',
 'anglet',
 'angleton',
 'anglia',
 'angola',
 'angus',
 'angwin',
 'anhalt',
 'animas',
 'anjou',
 'ankara',
 'ankeny',
 'ann',
 'anna',
 'annanale',
 'annandale',
 'annapolis',
 'anne',
 'annecy',
 'annemasse',
 'annes',
 'anniston',
 'annville',
 'anoka',
 'anselmo',
 'ansgar',
 'ansonia',
 'antarctica',
 'antelope',
 'anthem',
 'anthony',
 'antigonish',
 'antigua',
 'antioch',
 'antlers',
 'antoine',
 'antonia',
 'antonio',
 'antrim',
 'antwerp',
 'antwerpen',
 'anystate',
 'anystateq',
 'anytown',
 'anywhere',
 'anzio',
 'ao',
 'aomori',
 'aosta',
 'ap',
 'apache',
 'apalachin',
 'apelação',
 'apex',
 'apo',
 'apo09138',
 'apoae',
 'apollo',
 'apopka',
 'appalachia',
 'appelle',
 'appenzell',
 'apple',
 'appleby',
 'appleton',
 'appomattox',
 'apt',
 'aptos',
 'aquila',
 'aquitaine',
 'arab',
 'araba',
 'arabia',
 'aragon',
 'aragua',
 'aragón',
 'aransas',
 'aravada',
 'arbor',
 'arbroath',
 'arcadia',
 'arcata',
 'archbald',
 'arco',
 'arcos',
 'arcueil',
 'arden',
 'ardenne',
 'ardennes',
 'ardersier',
 'ardmore',
 'ardoz',
 'ardrossan',
 'area',
 'arenys',
 'arenzano',
 'arezzo',
 'argentina',
 'aridane',
 'arinaga',
 'arinsal',
 'arizona',
 'arkansas',
 'arlesey',
 'arleta',
 'arlingtion',
 'arlington',
 'arm',
 'armed',
 'armentia',
 'armstrong',
 'arnhem',
 'arno',
 'arnol',
 'arnold',
 'arnprior',
 'aroostook',
 'aroundtheworld',
 'arras',
 'arrasate',
 'arrecife',
 'arrington',
 'arrow',
 'arrowhead',
 'arrowtown',
 'arroyo',
 'arsiero',
 'arsizio',
 'arta',
 'arteixo',
 'artesia',
 'arthur',
 'arts',
 'aruba',
 'arvada',
 'as',
 'asbury',
 'aschaffenburg',
 'ascoli',
 'ascot',
 'ascq',
 'ash',
 'ashburn',
 'ashburton',
 'asheboro',
 'ashern',
 'asheville',
 'ashfield',
 'ashford',
 'ashington',
 'ashland',
 'ashtabula',
 'ashtead',
 'ashton',
 'ashville',
 'ashwood',
 'asia',
 'asker',
 'asnières',
 'asoria',
 'aspach',
 'aspen',
 'aspendale',
 'aspinwall',
 'assen',
 'assumption',
 'astarx',
 'asti',
 'aston',
 'astoria',
 'astrain',
 'asturias',
 'asturies',
 'at',
 'atascadero',
 'atascocita',
 'atchison',
 'atco',
 'ath',
 'athabasca',
 'athena',
 'athens',
 'atherton',
 'athol',
 'athyn',
 'atitlan',
 'atkinson',
 'atlanta',
 'atlantag',
 'atlantic',
 'atlantique',
 'atlantiques',
 'atoka',
 'atoll',
 'attadale',
 'attalla',
 'attica',
 'attiki',
 'attleboro',
 'atw',
 'au',
 'aubrais',
 'aubrey',
 'auburn',
 'auburndale',
 'auckland',
 'aududbon',
 'augsburg',
 'augusta',
 'augustin',
 'augustine',
 'auke',
 'aulander',
 'aurelia',
 'aurich',
 'aurora',
 'ausin',
 'ausserrhoden',
 'austell',
 'austin',
 'austn',
 'australia',
 'australian',
 'austria',
 'autonoma',
 'auvergne',
 'auxvasse',
 'ava',
 'available',
 'avalon',
 'ave',
 'aveiro',
 'aventura',
 'averill',
 'avery',
 'aveyron',
 'avigliana',
 'avignon',
 'avila',
 'avilés',
 'aviv',
 'avoca',
 'avon',
 'avondale',
 'avram',
 'awamutu',
 'awattukkee',
 'away',
 'awendaw',
 'axe',
 'axtell',
 'aycliffe',
 'ayd',
 'ayer',
 'aylesbury',
 'aylesford',
 'aylmer',
 'ayr',
 'ayrshire',
 'ayton',
 'az',
 'azalea',
 'azeitao',
 'azeméis',
 'azle',
 'aztec',
 'azur',
 'azusa',
 'ba',
 'babenhausen',
 'babson',
 'babylon',
 'bacau',
 'bacchus',
 'bacup',
 'bad',
 'badajoz',
 'badalona',
 'baden',
 'bagdad',
 'bagshot',
 'bahama',
 'bahamas',
 'bahia',
 'bahrain',
 'bahru',
 'baia',
 'baie',
 'baiersbronn',
 'baiersdorf',
 'baigorria',
 'bailey',
 'bailieboro',
 'bainbridge',
 'bairnsdale',
 'baixa',
 'baja',
 'baker',
 'bakersfield',
 'bakewell',
 'bal',
 'bala',
 'balaton',
 'balboa',
 'baldock',
 'baldwin',
 'baldwinsville',
 'bale',
 'baleares',
 'balears',
 'balga',
 'balgach',
 'balimore',
 'balingup',
 'balkonien',
 'ball',
 'ballajura',
 'ballarat',
 'ballentine',
 'ballester',
 'ballina',
 'ballston',
 'ballwin',
 'ballycotton',
 'ballymena',
 'ballymoney',
 'balmain',
 'balsall',
 'baltar',
 'baltic',
 'baltimore',
 'balzola',
 'bamberg',
 'banchory',
 'bancroft',
 'banda',
 'bandar',
 'bandelstorf',
 'bandung',
 'banff',
 'bangalore',
 'bangkok',
 'bangor',
 'banheira',
 'bank',
 'banks',
 'bankstown',
 'banos',
 'banská',
 'bantam',
 'bantry',
 'bar',
 'baraboo',
 'baracaldo',
 'barakaldo',
 'barat',
 'barbados',
 'barbara',
 'barbera',
 'barberton',
 'barboursville',
 'barbuda',
 'barca',
 'barcelna',
 'barcelona',
 'barceloneta',
 'bardonia',
 'bardstown',
 'barendrecht',
 'barham',
 'bari',
 'bark',
 'barker',
 'barlad',
 'barling',
 'barnard',
 'barnardsville',
 'barnawartha',
 'barnegat',
 'barnet',
 'barneveld',
 'barnhart',
 'barnsley',
 'barnstable',
 'barnstead',
 'barnum',
 'barnwell',
 'baroda',
 'barons',
 'barracks',
 'barrameda',
 'barraquetes',
 'barre',
 'barreiro',
 'barren',
 'barrie',
 'barrington',
 'barrow',
 'barry',
 'barryton',
 'barsinghausen',
 'barstow',
 'barth',
 'barthélemy',
 'bartlesville',
 'bartlett',
 'barto',
 'bartolome',
 'bartolomé',
 'barton',
 'bartonville',
 'bartow',
 'barva',
 'bas',
 'basauri',
 'bascharage',
 'bascom',
 'base',
 'basel',
 'baselland',
 'basiglio',
 'basilicata',
 'basin',
 'basing',
 'basingstoke',
 'bask',
 'basking',
 'basque',
 'bassano',
 'basse',
 'bastrop',
 'basye',
 'batalha',
 'batang',
 'batas',
 'batavia',
 'batemans',
 'bates',
 'batesburg',
 'batesville',
 'bath',
 'bathgate',
 'bathurst',
 'baton',
 'battaramulla',
 'battersea',
 'battle',
 'battlementmesa',
 'batu',
 'baunatal',
 'bauru',
 'bautista',
 'bavaria',
 'baveria',
 'baxter',
 'bay',
 'bayamon',
 'bayan',
 'bayboro',
 'bayern',
 'bayfield',
 'bayonet',
 'bayonne',
 'bayreuth',
 'bayshore',
 'bayside',
 'bayswater',
 'baytown',
 'bayville',
 'bc',
 'bch',
 'bcn',
 'be',
 'beach',
 'beachmere',
 'beacon',
 'beaconsfield',
 'bealeton',
 'beamsville',
 'bear',
 'beardsley',
 'beaufort',
 'beaumaris',
 'beaumont',
 'beauvoir',
 'beaver',
 'beaverbank',
 'beavercreek',
 'beaverton',
 'beaverville',
 'beckley',
 'bedburg',
 'bedford',
 'bedfordshire',
 'bedfordview',
 'bedok',
 'beebeetown',
 'beech',
 'beecher',
 'beegden',
 'beemerville',
 'beer',
 'beeston',
 'beeton',
 'bega',
 'begawan',
 'bei',
 'beijerland',
 'beijing',
 'beira',
 'bekasi',
 'bel',
 'belcamp',
 'belchertown',
 'belden',
 'belding',
 'belen',
 'belfair',
 'belfast',
 'belfort',
 'belfry',
 'belgium',
 'belgorod',
 'belgrade',
 'belgrave',
 'belize',
 'bell',
 'bella',
 'bellaire',
 'belle',
 'bellefonte',
 'bellerose',
 'belleville',
 'bellevue',
 'bellflower',
 'bellingham',
 'bellmawr',
 'bellmore',
 'bellows',
 'bellport',
 'bells',
 'bellthorpe',
 'bellville',
 'bellvue',
 'bellwood',
 'belmond',
 'belmont',
 'belo',
 'beloeil',
 'beloit',
 'belper',
 'belrose',
 'belton',
 'beltsville',
 'belvedere',
 'belvidere',
 'belwood',
 'bement',
 'bemidji',
 'bemus',
 'ben',
 'benalmádena',
 'benbrook',
 'bend',
 'bendejun',
 'bendigo',
 'bendorf',
 'benedita',
 'benfleet',
 'bengal',
 'benicia',
 'benidorm',
 'benin',
 'benito',
 'bennett',
 'benning',
 'bennington',
 'bensalem',
 'bensberg',
 'bensenville',
 'bentleigh',
 'bentley',
 'benton',
 'bentonville',
 'berardenga',
 'berchem',
 'berchtesgaden',
 'berck',
 'berea',
 'berg',
 'berga',
 'bergamo',
 'bergen',
 'bergenfield',
 'bergheim',
 'bergisch',
 'berguedà',
 'berisso',
 'berja',
 'berjuntai',
 'berkel',
 'berkeley',
 'berkley',
 'berkshire',
 'berlin',
 'bermuda',
 'bern',
 'bernardino',
 'bernardo',
 'bernardston',
 'bernau',
 'bernburg',
 ...]

In [53]:
df_users = process_user_data(df_users)
df_users

          Age        city        state     country
User-ID
2        18.0    stockton   california         usa
8         NaN     timmins      ontario      canada
9         NaN  germantown    tennessee         usa
10       26.0    albacete    wisconsin       spain
12        NaN  fort bragg   california         usa
...       ...         ...          ...         ...
278844   28.0    st. paul    minnesota         usa
278849   23.0  georgetown      ontario      canada
278851   33.0      dallas        texas         usa
278852   32.0    brisbane   queensland   australia
278854    NaN    portland       oregon         usa

[61568 rows x 4 columns]

In [35]:
splits = df_users.Location.str.split(',')
df_users['city'] = [row[0] for row in splits]

In [17]:
df_users = df_users.set_index('User-ID')

KeyError: "None of ['User-ID'] are in the columns"

In [33]:
df_users.Location.str.split(',')

User-ID
2               [stockton,  california,  usa]
8                [timmins,  ontario,  canada]
9              [germantown,  tennessee,  usa]
10             [albacete,  wisconsin,  spain]
12            [fort bragg,  california,  usa]
                         ...
278844           [st. paul,  minnesota,  usa]
278849        [georgetown,  ontario,  canada]
278851                 [dallas,  texas,  usa]
278852    [brisbane,  queensland,  australia]
278854              [portland,  oregon,  usa]
Name: Location, Length: 61568, dtype: object

In [15]:
df_users[['city', 'state', 'country']] = df_users.Location.str.split(',').values

ValueError: Must have equal len keys and value when setting with an iterable